header {
  background-color: #363636;
  width: auto;
  padding: 15px;
}

nav {
  color: gray;
  text-align: center;
  width: 960px;

}

nav ul {
  margin: 0px 10px 0px 80px;
  padding: 0px;
  display: flex;
}

nav ul li {
  display: inline;
  vertical-align: bottom;
  text-align: center;
  padding: 15px;
  margin: 60px 45px 10px 20px;
}

nav a {
  display: inline-block;

  text-decoration: none;
  color: gray;
}

nav ul img {
  margin-top: 0px;
  padding: 0px;
  display: flex;
}

main {
  width: 960px;
  margin: 20px 100px;
}

#hero_img{
  padding: 0px;
  margin-bottom: 15px;
  display: block;
}

 #logo {
   padding: 0px;
   margin-top: 30px;
 }

#img_setter {
  margin: 10px 26px;
}

div {
  display: inline-block;
}

div img {
  margin: 10px 0px;
  float: left;
}

div div {
  width: 460px;
  margin: 10px;
  height: 400px;
}

div h5 {
  margin: 10px 0px;
  font-size: 1.2em;
}

div div p {
  display: block;
  line-height: 1.3em;
  overflow: scroll;
  font-style: italic;
  float: right;
  height: 335px;
}

button {
  background-color: #000;
  color: white;
  border-radius: 3px;
  padding: 3px 15px;
  margin: 5px 0px;
}

button:hover {
  background-color: green;
}

footer {
  background-color: #363636;
  height: 100px;
}